@import "npm:antd/dist/antd.dark.less";
@import "https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/plus-jakarta-display.min.css";

@primary-color: #00f8b7;


body {
  margin: 0;
  font-family: "Plus Jakarta Display", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ant-row {
  min-width: 100%;
}

.ant-layout-sider {
  background-color: @black;
}

.ant-layout-header {
  background-color: @black;
}

.ant-collapse {
  background-color: #141414;
}

.ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header {
  display: flex;
  padding: 0px;
  position: relative;
}

