@import "npm:antd/dist/antd.dark.less";
@import "https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/plus-jakarta-display.min.css";

@primary-color: #00f8b7;


body {
  margin: 0;
  font-family: "Plus Jakarta Display", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ant-row {
  min-width: 100%;
}

.ant-layout-sider {
  background-color: @black;
}

.ant-layout-header {
  background-color: @black;
}

.ant-collapse {
  background-color: #141414;
}

.ant-btn {
  border-style: none;
  background-color: #003628;
  color: #06D6A0;
  span {
    font-size: 10px;
    font-weight: bolder;
  }
  &:hover {
    background-color: #06D6A0;
    color: #000;
  }
}

.ant-btn-primary {
  border-style: none;
  background-color: #3D3D3D;
  color: #B2B2B2;
  font-size: 10px;
  font-weight: bolder;
  &:hover {
    background-color: #B2B2B2;
    color: #000;
  }
}

.ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header {
  display: flex;
  padding: 0px;
  position: relative;
}

